.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle {
    font-size: 40px;
    font-weight: 800;
    color: #FF5A5F;
    margin: 50px 0;
}

.card-cardapio {
    max-width: 1100px;
    min-height: 670px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 25px #00000033;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 200px; /* remover posteriormente */
}

.nav-pills {
    gap: 20px;
    justify-content: center;
}
.nav-pills .nav-link {
    background-color: #FFF8F0;
    color: #333333 !important;
    font-weight: 600;
}
.nav-pills .nav-link:hover {
    background-color: #fd898d;
    color: #070707 !important;
}
.nav-pills .nav-link.active {
    background-color: #FF5A5F;
    color: #FFFFFF !important;
}
.nav-link {
    color: #333333;
}

@media (max-width: 576px) {
    .product-price {
        flex-direction: column;
        text-align: center;
    }
    .product-description {
        text-align: center;
    }
    .text-muted{
        display: none;
    }
    .card-cardapio {
        margin-bottom: 50px;
    }
    .line {
        margin: 0 !important;
    }
    footer{
        margin: 0 !important;
    }
}