/* footer.css */

.footer-container {
  min-height: 360px;
  background-color: #ffffff;
  justify-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px;
}

.footer-content p {
  font-size: 13px;
  margin: 16px 0;
}

.segunda-coluna {
  display: flex;
  flex-wrap: wrap;
}

.segunda-coluna h3 {
  margin-bottom: 40px;
}

.segunda-coluna p {
  margin: 10px 0;
}

.icons {
  display: flex;
  gap: 16px;
  font-size: 25px;
}

/* Links dos ícones herdarem cor padrão ou específica */
.icons a {
    color: inherit; /* Ou defina uma cor específica se necessário */
    text-decoration: none;
}

.footer-line {
  width: 95%;
  height: 1px;
  background-color: #333333; /* Estilo da classe .line trazido para cá */
  display: block;
  margin: 0 auto;
}

.ultima-linha {
  margin-top: 40px;
  padding-bottom: 1px;
  text-align: center;
}

/* Responsividade do Footer (Mobile) */
@media (max-width: 576px) {
  .footer-content {
    gap: 50px;
  }
  
  .footer-content div {
    text-align: center;
  }
  
  .segunda-coluna {
    gap: 50px;
  }
  
  .icons {
    justify-content: center;
  }
}