:root {
  /* Ajuste da cor para combinar com o design*/
  --cor-fundo: #fdfbf7; 
}

.karaoke-content {
  /* Definição da altura */
  min-height: 60vh; 
  
  /* Cor de fundo de segurança (caso a imagem não carregue) */
  background-color: var(--cor-fundo);
  background-image: 
    /* Camada 1 (Topo): Gradiente que vai do transparente para a cor sólida embaixo */
    linear-gradient(to bottom, 
      rgba(253, 251, 247, 0.4) 0%,   /* Começa levemente transparente no topo */
      rgba(253, 251, 247, 0.8) 60%,  /* Começa a ficar sólido no meio */
      var(--cor-fundo) 100%          /* Termina totalmente sólido na cor do site */
    ),
    /* Camada 2 (Fundo): A imagem das ondas sonoras */
    url('../images/karaoke/background_karaoke.png');

  /* Ajustes de posicionamento */
  background-size: cover;    /* Cobre toda a área */
  background-position: top center; /* Foca no topo da imagem */
  background-repeat: no-repeat;

  /* FAZER DEPOIS:
  Responsivo no desktop -> A imagem não está aparecendo de maneira correta */;
}

.double-cards {
  justify-content: center;
  gap: 5rem;
}

/*Estilo geral dos Cards*/
.card-custom {
  border: none;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /*Sombra*/
  overflow: hidden; /* Garante que a imagem não saia da borda arredondada */
  transition: transform 0.3s ease;
  background-color: #fff;
  min-height: 450px; /* Altura mínima para consistência */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* --- CONFIGS DAS IMAGENS DO CARROSSEL --- */
.carousel-img {
  height: 250px; /* Altura fixa para todas as imagens */
  object-fit: cover; /* A MÁGICA: Corta a imagem para caber sem esticar/deformar */
  width: 100%;
}

/*Primeiro card (que não tem carrossel) */
.card-header-fixo {
  height: 250px;
  width: 100%;
  background: linear-gradient(135deg, #ff5e62, #5e2129); /*Paleta de cores: cor dos botões + logo*/
}

/* Ajustes finos no corpo do card */
.card-body {
  padding: 2rem;
}

.card-title {
  margin-bottom: 1rem;
  color: #333;
}

.carousel-control-prev {
  top: 230px;
}

.carousel-control-next {
  top: 230px;
}

.carousel-control-next-icon {
  background-color: #5e2129;
  border-radius: 25%;
}

.carousel-control-prev-icon {
  background-color: #5e2129;
  border-radius: 25%;
}

.text-room {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.carousel-item {
    transition: opacity 0.6s ease-in-out !important; /* Força uma transição suave */
}
.legenda-fluida {
  padding: 2rem;
  min-height: 180px; /* IMPORTANTE: Altura fixa para o card não ficar "dançando" se o texto mudar de tamanho */
  opacity: 0; 
  transform: translateY(10px);
  transition: all 0.5s ease-out;
}

/* Quando o slide fica ativo (active), o texto aparece */
.carousel-item.active .legenda-fluida {
  opacity: 1;
  transform: translateY(0);
}
