@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #333333;
  padding: 0;
  margin: 0;
}

.bg-image {
  max-width: 1440px;
  height: 800px;
  background: url("../images/index/destaque.png") no-repeat;
  text-align: center;
  align-content: center;
  color: #ffffff;
}

.bg-color {
  background-color: #FFF8F0;
}

.featured-title {
  font-size: 85px;
  font-weight: 800;
}

.featured-text {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 80px 0;
  gap: 20px;
}

.card-home {
  width: 600px;
  height: 600px;
  border-radius: 30px;
  border: none;
  box-shadow: 4px 4px 25px #00000033;
  padding: 50px 30px;
}

.card-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.room-card {
  border-radius: 25px;
  border: none;
  box-shadow: 4px 4px 15px #00000033;
  background-color: #fff8f0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.room-card:hover {
  transform: scale(1.08);
  box-shadow: 8px 8px 20px #00000055;
  z-index: 10;
  position: relative;
}

.room-card-description {
  font-weight: 400;
  color: #757575;
}

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
  display: flex;
  max-height: 300px;
  margin-top: 30px;
}

/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow: hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right {
  transition: all 1s ease;
}

.carousel-inner {
  padding: 35px;
  margin: -35px;
  width: calc(100% + 40px);
  height: 380px;
}

.carousel-item {
  padding-left: 12px;
}

.control-carrocel {
  position: relative;
  top: 290px;
  display: flex;
  justify-content: space-between;
}

.btn-carrocel {
  background-color: #EEEEEE;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  font-size: 30px;
  padding: 2px;
}

.card-body-2 {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  justify-content: space-between;
}

.container-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0;
}

.card-iten {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.card-iten h6 {
  color: #333333;
  font-size: 16px;
  font-weight: 800;
}

.card-iten p {
  color: #757575;
  font-size: 12px;
  font-weight: 400;

  align-items: flex-end;
}

.card-iten h6 {
  color: #333333;
  font-size: 16px;
  font-weight: 800;
}

.card-iten p {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}

.tittle-contato {
    font-size: 40px;
    font-weight: 800;
    color: #FF5A5F;
    margin-top: 50px;
}

.card-contato {
  height: 80px;
  flex-direction: row;
  border-radius: 30px;
  padding: 20px;
  /* width: ; */
}

.bg-icon {
  width: 50px;
  height: 50px;
  background-color: #FF5A5F;
  border-radius: 50px;
}

.icon {
  font-size: 30px;
  color: #FFFFFF !important;
}

.container-link-card p{
  margin: 0;
  padding: 0;
}

.btn-enviar{
  border-radius: 15px !important;
  width: 200px;
}

@media (max-width: 576px) {
  .featured-title {
    font-size: 70px;
    font-weight: 800;
  }

  .featured-text {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff
  }

  .card-container {
    overflow: hidden;
  }

  .carousel-inner {
    padding: 0;
    overflow: unset;
    margin-top: -15px;
    margin-left: -20px;
  }
}